@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
	color-scheme: dark;
}

.hash-span {
	margin-top: -100px;
	padding-bottom: 80px;
	display: block;
}

.black-gradient {
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#434343,
		#000000
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#434343,
		#000000
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
	background: #804dee;
	background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
	background: -webkit-linear-gradient(
		-90deg,
		#804dee 0%,
		rgba(60, 51, 80, 0) 100%
	);
}

.social-gradient {
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#151038,
		#808080
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #151038, #808080);
}

.green-pink-gradient {
	background: "#00cea8";
	background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
	background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
	background: #f12711; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to top,
		#f12711,
		#f5af19
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to top,
		#f12711,
		#f5af19
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	background-clip: text;

	-webkit-text-fill-color: transparent;
}

.green-text-gradient {
	background: #11998e; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to top,
		#11998e,
		#38ef7d
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to top,
		#11998e,
		#38ef7d
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	background-clip: text;

	-webkit-text-fill-color: transparent;
}

.blue-text-gradient {
	/* background: -webkit-linear-gradient(#eee, #333); */
	background: #56ccf2; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to top,
		#2f80ed,
		#56ccf2
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to top,
		#2f80ed,
		#56ccf2
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	background-clip: text;

	-webkit-text-fill-color: transparent;
}

.pink-text-gradient {
	background: #ec008c; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to top,
		#ec008c,
		#fc6767
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to top,
		#ec008c,
		#fc6767
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.yellow-text-gradient {
	background: #fffb05; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to top,
		#fffb05,
		#bfcc74
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to top,
		#fffb05,
		#bfcc74
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.purple-text-gradient {
	background: #aa00ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to top,
		#bb00ff,
		#a142b7
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to top,
		#bb00ff,
		#a142b7
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* canvas- styles */
.canvas-sending-loader {
	font-size: 10px;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	text-indent: -9999em;
	animation: mulShdSpin 1.1s infinite ease;
	transform: translateZ(0);
}

@keyframes mulShdSpin {
	0%,
	100% {
		box-shadow: 0em -2.6em 0em 0em #ffffff,
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
	}
	12.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
			1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
	}
	25% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	37.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	50% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	62.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	75% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	87.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
	}
}
.glitch {
	position: relative;
	color: #fff;
}

.glitch:before {
	left: 0;
	left: 2px;
	text-shadow: -2px 0 #ff00c1;
	clip: rect(44px, 450px, 56px, 0);
	animation: glitch-anim 5s linear infinite alternate-reverse;
}

.glitch:after,
.glitch:before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.glitch:after {
	left: 0;
	left: -2px;
	text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
	animation: glitch-anim2 1s linear infinite alternate-reverse;
}

@keyframes glitch-anim {
	0% {
		clip: rect(44px, 9999px, 36px, 0);
		transform: skew(0.66deg);
	}

	5% {
		clip: rect(48px, 9999px, 10px, 0);
		transform: skew(0.46deg);
	}

	10% {
		clip: rect(54px, 9999px, 17px, 0);
		transform: skew(0.56deg);
	}

	15% {
		clip: rect(56px, 9999px, 59px, 0);
		transform: skew(0.32deg);
	}

	20% {
		clip: rect(93px, 9999px, 77px, 0);
		transform: skew(0.86deg);
	}

	25% {
		clip: rect(51px, 9999px, 96px, 0);
		transform: skew(0.55deg);
	}

	30% {
		clip: rect(57px, 9999px, 85px, 0);
		transform: skew(0.99deg);
	}

	35% {
		clip: rect(21px, 9999px, 11px, 0);
		transform: skew(0.45deg);
	}

	40% {
		clip: rect(75px, 9999px, 54px, 0);
		transform: skew(0.71deg);
	}

	45% {
		clip: rect(20px, 9999px, 54px, 0);
		transform: skew(0.11deg);
	}

	50% {
		clip: rect(14px, 9999px, 18px, 0);
		transform: skew(0.1deg);
	}

	55% {
		clip: rect(52px, 9999px, 28px, 0);
		transform: skew(0.1deg);
	}

	60% {
		clip: rect(21px, 9999px, 2px, 0);
		transform: skew(0.33deg);
	}

	65% {
		clip: rect(11px, 9999px, 86px, 0);
		transform: skew(0.71deg);
	}

	70% {
		clip: rect(39px, 9999px, 74px, 0);
		transform: skew(0.45deg);
	}

	75% {
		clip: rect(43px, 9999px, 13px, 0);
		transform: skew(0.58deg);
	}

	80% {
		clip: rect(53px, 9999px, 56px, 0);
		transform: skew(0.88deg);
	}

	85% {
		clip: rect(70px, 9999px, 49px, 0);
		transform: skew(0.21deg);
	}

	90% {
		clip: rect(40px, 9999px, 25px, 0);
		transform: skew(0.07deg);
	}

	95% {
		clip: rect(81px, 9999px, 7px, 0);
		transform: skew(0.61deg);
	}

	to {
		clip: rect(74px, 9999px, 90px, 0);
		transform: skew(0.88deg);
	}
}

@keyframes glitch-anim2 {
	0% {
		clip: rect(71px, 9999px, 84px, 0);
		transform: skew(0.2deg);
	}

	5% {
		clip: rect(19px, 9999px, 94px, 0);
		transform: skew(0.84deg);
	}

	10% {
		clip: rect(93px, 9999px, 12px, 0);
		transform: skew(0.18deg);
	}

	15% {
		clip: rect(95px, 9999px, 91px, 0);
		transform: skew(0.21deg);
	}

	20% {
		clip: rect(80px, 9999px, 48px, 0);
		transform: skew(0.03deg);
	}

	25% {
		clip: rect(46px, 9999px, 44px, 0);
		transform: skew(0.06deg);
	}

	30% {
		clip: rect(28px, 9999px, 94px, 0);
		transform: skew(0.58deg);
	}

	35% {
		clip: rect(28px, 9999px, 4px, 0);
		transform: skew(0.23deg);
	}

	40% {
		clip: rect(37px, 9999px, 48px, 0);
		transform: skew(0.77deg);
	}

	45% {
		clip: rect(60px, 9999px, 69px, 0);
		transform: skew(0.97deg);
	}

	50% {
		clip: rect(36px, 9999px, 4px, 0);
		transform: skew(0.81deg);
	}

	55% {
		clip: rect(80px, 9999px, 90px, 0);
		transform: skew(0.06deg);
	}

	60% {
		clip: rect(7px, 9999px, 70px, 0);
		transform: skew(0.4deg);
	}

	65% {
		clip: rect(97px, 9999px, 12px, 0);
		transform: skew(0.2deg);
	}

	70% {
		clip: rect(14px, 9999px, 37px, 0);
		transform: skew(0.22deg);
	}

	75% {
		clip: rect(90px, 9999px, 42px, 0);
		transform: skew(0.13deg);
	}

	80% {
		clip: rect(83px, 9999px, 91px, 0);
		transform: skew(0.07deg);
	}

	85% {
		clip: rect(74px, 9999px, 11px, 0);
		transform: skew(0.74deg);
	}

	90% {
		clip: rect(84px, 9999px, 78px, 0);
		transform: skew(0.94deg);
	}

	95% {
		clip: rect(86px, 9999px, 1px, 0);
		transform: skew(0.69deg);
	}

	to {
		clip: rect(50px, 9999px, 7px, 0);
		transform: skew(0.2deg);
	}
}

@keyframes glitch-skew {
	0% {
		transform: skew(2deg);
	}

	10% {
		transform: skew(-3deg);
	}

	20% {
		transform: skew(5deg);
	}

	30% {
		transform: skew(2deg);
	}

	40% {
		transform: skew(-3deg);
	}

	50% {
		transform: skew(-2deg);
	}

	60% {
		transform: skew(5deg);
	}

	70% {
		transform: skew(0deg);
	}

	80% {
		transform: skew(-4deg);
	}

	90% {
		transform: skew(1deg);
	}

	to {
		transform: skew(0deg);
	}
}

.loading-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
#page {
	display: flex;
	justify-content: center;
	align-items: center;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

#h3 {
	color: white;
}

#ring {
	width: 320px;
	height: 320px;
	border: 1px solid transparent;
	border-radius: 50%;
	position: absolute;
}

#ring:nth-child(1) {
	border-bottom: 12px solid rgb(255, 141, 249);
	animation: rotate1 2s linear infinite;
}

@keyframes rotate1 {
	from {
		transform: rotateX(50deg) rotateZ(110deg);
	}

	to {
		transform: rotateX(50deg) rotateZ(470deg);
	}
}

#ring:nth-child(2) {
	border-bottom: 12px solid rgb(255, 65, 106);
	animation: rotate2 2s linear infinite;
}

@keyframes rotate2 {
	from {
		transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
	}

	to {
		transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
	}
}

#ring:nth-child(3) {
	border-bottom: 12px solid rgb(0, 255, 255);
	animation: rotate3 2s linear infinite;
}

@keyframes rotate3 {
	from {
		transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
	}

	to {
		transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
	}
}

#ring:nth-child(4) {
	border-bottom: 12px solid rgb(252, 183, 55);
	animation: rotate4 2s linear infinite;
}

@keyframes rotate4 {
	from {
		transform: rotateX(70deg) rotateZ(270deg);
	}

	to {
		transform: rotateX(70deg) rotateZ(630deg);
	}
}

.sending-loader {
	position: relative;
	border-style: solid;
	box-sizing: border-box;
	border-width: 80px 120px 60px 120px;
	border-color: #3760c9 #96ddfc #96ddfc #36bbf7;
	animation: envFloating 1s ease-in infinite alternate;
}

.sending-loader:after {
	content: "";
	position: absolute;
	right: 140px;
	top: -40px;
	height: 70px;
	width: 80px;
	background-image: linear-gradient(#fff 45px, transparent 0),
		linear-gradient(#fff 45px, transparent 0),
		linear-gradient(#fff 45px, transparent 0);
	background-repeat: no-repeat;
	background-size: 30px 4px;
	background-position: 0px 11px, 8px 35px, 0px 60px;
	animation: envDropping 0.75s linear infinite;
}

@keyframes envFloating {
	0% {
		transform: translate(-2px, -5px);
	}

	100% {
		transform: translate(0, 5px);
	}
}

@keyframes envDropping {
	0% {
		background-position: 100px 11px, 115px 35px, 105px 60px;
		opacity: 1;
	}

	50% {
		background-position: 0px 11px, 20px 35px, 5px 60px;
	}

	60% {
		background-position: -30px 11px, 0px 35px, -10px 60px;
	}

	75%,
	100% {
		background-position: -30px 11px, -30px 35px, -30px 60px;
		opacity: 0;
	}
}
